<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.modules.app.dao.character.CharacterDetailDao">

    <resultMap id="baseResultMap" type="com.acg12.modules.app.entity.po.character.CharacterDetailEntity">
        <result column="characterDetailId" property="characterDetailId" jdbcType="INTEGER"/>
        <result column="characterId" property="characterId" jdbcType="INTEGER"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="otherTitle" property="otherTitle" jdbcType="INTEGER"/>
        <result column="otherValue" property="otherValue" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.modules.app.entity.po.character.CharacterDetailEntity" useGeneratedKeys="true"
            keyProperty="characterDetailId">
        insert into acg_character_detail (characterDetailId , characterId , summary, otherTitle, otherValue)
        values (#{characterDetailId,jdbcType=INTEGER},#{characterId,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, #{otherTitle,jdbcType=VARCHAR}, #{otherValue,jdbcType=VARCHAR})
    </insert>

    <insert id="insertList" parameterType="java.util.List" >
        insert into acg_character_detail (characterDetailId , characterId , summary, otherTitle, otherValue)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.characterDetailId,jdbcType=INTEGER}, #{item.characterId,jdbcType=INTEGER},
            #{item.summary,jdbcType=VARCHAR},#{item.otherTitle,jdbcType=VARCHAR},#{item.otherValue,jdbcType=VARCHAR}
            )
        </foreach>
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="characterDetailId">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="update" parameterType="com.acg12.modules.app.entity.po.character.CharacterDetailEntity">
        update acg_character_detail set platform=#{platform},title=#{title},cover=#{cover},tags=#{tags},intro=#{intro},voiceActor=#{voiceActor},nowStatus=#{nowStatus}
        ,totalCount=#{totalCount},serializeWeek=#{serializeWeek},serializeTime=#{serializeTime},startPlayTime=#{startPlayTime},updateTime=#{updateTime}
        where bangumitId=#{bangumitId}
    </update>

    <select id="queryList" resultType="com.acg12.modules.app.entity.po.character.CharacterDetailEntity">
        select * from acg_character_detail
    </select>

    <select id="queryByCharacterId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterDetailEntity">
        select * from acg_character_detail where characterId = #{characterId}
    </select>


</mapper>