<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.dao.character.CharacterDao">

    <resultMap id="baseResultMap" type="com.acg12.entity.po.character.CharacterEntity">
        <result column="characterId" property="characterId" jdbcType="INTEGER"/>
        <result column="cId" property="cId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameCn" property="nameCn" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="INTEGER"/>
        <result column="personId" property="personId" jdbcType="INTEGER"/>
        <result column="personName" property="personName" jdbcType="VARCHAR"/>
        <result column="personNameCn" property="personNameCn" jdbcType="VARCHAR"/>
        <result column="personImage" property="personImage" jdbcType="VARCHAR"/>
        <result column="personGender" property="personGender" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.entity.po.character.CharacterEntity" useGeneratedKeys="true"
            keyProperty="characterId">
        insert into acg_character (characterId , cId , name, nameCn, image, summary, gender, roleName, weight, createTime, updateTime ,personId, personName, personNameCn, personImage, personGender)
        values (#{characterId,jdbcType=INTEGER},#{cId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}
        , #{image,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{roleName,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}
        , #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER} , #{personId,jdbcType=INTEGER}, #{personName,jdbcType=VARCHAR}, #{personNameCn,jdbcType=VARCHAR}
        , #{personImage,jdbcType=VARCHAR}, #{personGender,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.acg12.entity.po.character.CharacterEntity">
        update acg_character set cId=#{cId},name=#{name},nameCn=#{nameCn},image=#{image},summary=#{summary},gender=#{gender},roleName=#{roleName}
        ,weight=#{weight},personId=#{personId},personName=#{personName},personNameCn=#{personNameCn},personImage=#{personImage},personGender=#{personGender},updateTime=#{updateTime}
        where characterId=#{characterId}
    </update>

    <select id="queryList" resultType="com.acg12.entity.po.character.CharacterEntity">
        select * from acg_character
    </select>

    <select id="queryByCId" parameterType="int" resultType="com.acg12.entity.po.character.CharacterEntity">
        select * from acg_character where cId = #{cId}
    </select>

    <select id="queryByCharacterId" parameterType="int" resultType="com.acg12.entity.po.character.CharacterEntity">
        select * from acg_character where characterId = #{characterId}
    </select>

</mapper>