<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.modules.app.dao.character.CharacterActorsDao">

    <resultMap id="baseResultMap" type="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        <result column="characterActorsId" property="characterActorsId" jdbcType="INTEGER"/>
        <result column="characterId" property="characterId" jdbcType="INTEGER"/>
        <result column="personId" property="personId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameCn" property="nameCn" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="gender" property="airDate" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity" useGeneratedKeys="true"
            keyProperty="characterActorsId">
        insert into acg_character_actors (characterActorsId , characterId , personId, name, nameCn, image, gender, createTime, updateTime)
        values (#{characterActorsId,jdbcType=INTEGER},#{characterId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}
        , #{image,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    </insert>

    <insert id="insertList" parameterType="java.util.List" >
        insert into acg_character_actors (characterActorsId , characterId , personId, name, nameCn, image, gender, createTime, updateTime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.characterActorsId,jdbcType=INTEGER},#{item.characterId,jdbcType=INTEGER}, #{item.personId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}
            , #{item.nameCn,jdbcType=VARCHAR}, #{item.image,jdbcType=VARCHAR}, #{item.gender,jdbcType=VARCHAR}
            , #{item.createTime,jdbcType=INTEGER}, #{item.updateTime,jdbcType=INTEGER}
            )
        </foreach>
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="characterActorsId">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="update" parameterType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        update acg_character_actors set characterId=#{characterId},personId=#{personId},name=#{name},nameCn=#{nameCn},image=#{image}
        ,gender=#{gender},updateTime=#{updateTime}
        where characterActorsId=#{characterActorsId}
    </update>

    <select id="queryByCharacterActorsId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        select * from acg_character_actors where characterActorsId = #{characterActorsId}
    </select>

    <select id="queryByActors" resultType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        select * from acg_character_actors where characterId = #{characterId} and personId = #{personId}
    </select>

    <select id="queryByCharacterId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        select * from acg_character_actors where characterId = #{characterId}
    </select>

    <select id="queryByPersonId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterActorsEntity">
        select * from acg_character_actors where personId = #{personId}
    </select>

</mapper>