<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.modules.app.dao.character.CharacterDao">

    <resultMap id="baseResultMap" type="com.acg12.modules.app.entity.po.character.CharacterEntity">
        <result column="characterId" property="characterId" jdbcType="INTEGER"/>
        <result column="cId" property="cId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameCn" property="nameCn" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="height" property="weight" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="alias" property="weight" jdbcType="VARCHAR"/>
        <result column="type" property="weight" jdbcType="VARCHAR"/>
        <result column="gender" property="weight" jdbcType="INTEGER"/>
        <result column="bloodtype" property="gender" jdbcType="INTEGER"/>
        <result column="birthday" property="personId" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.modules.app.entity.po.character.CharacterEntity" useGeneratedKeys="true"
            keyProperty="characterId">
        insert into acg_character (characterId , cId , name, nameCn, image, height, weight, alias, type, gender, bloodtype, birthday ,createTime, updateTime)
        values (#{characterId,jdbcType=INTEGER},#{cId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}
        , #{height,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}
        , #{bloodtype,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        update acg_character set cId=#{cId},name=#{name},nameCn=#{nameCn},image=#{image},height=#{height},weight=#{weight},alias=#{alias}
        ,type=#{type},gender=#{gender},bloodtype=#{bloodtype},birthday=#{birthday},updateTime=#{updateTime}
        where characterId=#{characterId}
    </update>

    <select id="queryList" resultType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        select * from acg_character
    </select>

    <select id="queryByCharacterListPage" resultType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        select * from acg_character
        <where>
            <if test="type != null">
                <if test="type > 0">
                    type like "%"#{type}"%"
                </if>
            </if>

            <if test="gender > 0">
                and gender = #{gender}
            </if>
            <if test="bloodtype > 0">
                and bloodtype = #{bloodtype}
            </if>
            <if test="birthday != null">
                <if test="birthday > 0">
                    and birthday like "%"#{birthday}"%"
                </if>
            </if>

        </where>
    </select>

    <select id="queryByCId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        select * from acg_character where cId = #{cId}
    </select>

    <select id="queryByCharacterId" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        select * from acg_character where characterId = #{characterId}
    </select>

    <select id="queryByCharacterIdJoinDetail" parameterType="int" resultType="com.acg12.modules.app.entity.po.character.CharacterEntity">
        select acg_character.characterId, acg_character.name, acg_character.nameCn, acg_character.image, acg_character.height, acg_character.weight,
        acg_character.alias, acg_character.type, acg_character.gender, acg_character.bloodtype, acg_character.birthday, acg_character_detail.summary

        from acg_character
        INNER JOIN acg_character_detail
        ON acg_character.characterId = acg_character_detail.characterId AND  acg_character_detail.characterId = #{characterId} AND acg_character_detail.summary IS  NOT NULL

    </select>
</mapper>