body {
    margin: 0px;
    padding: 0px;
    background: #f4f5f7;
}

.error-body {
    margin: 0px;
    padding: 0px;
}

.error-container {
    width: 1000px;
    margin: 0px auto;
    background: #fff;
    border-radius: 10px;
}

.error-container .error-panel {
    padding: 40px 0;
    width: 420px;
    margin: 0px auto;
    /*background-position: 50%;*/
    /*background-repeat: no-repeat;*/
    /*position: relative;*/
    /*overflow: hidden;*/
}

.error-container .error-panel .error-msg {
    overflow: hidden;
}

.error-container .error-panel .error-msg .error-img {
    width: 160px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.error-container .error-panel .error-msg .error-prompt {
    width: 240px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

.error-container .error-panel .error-msg .error-prompt .error-text {
    font-size: 26px;
    color: #212121;
    line-height: 26px;
    font-weight: bolder;
}

.error-container .error-panel .error-msg .error-prompt .msg-text {
    max-width: 350px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #99a2aa;
    line-height: 21px;
    margin-top: 6px;
}

.error-container .error-panel .error-msg .error-prompt .big-btn.go-home {
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 14px;
    display: block;
}

.error-container .error-panel .error-msg .error-prompt .big-btn {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    background: #00a1d6;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
}