body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    padding-top: 45px;
    background-color: #f0f0f0;
}

ul li {
    list-style-type:none;
}

.container {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}

.container-center {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#container-centerA {
    width: 1200px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    position: relative;
    margin-top: 70px;
}

#container-centerA .info-left{
    width: 200px;
    float: left;
    margin-left: 40px;
}

#container-centerA .info-left .cover {
    width: 200px;
    height: 282px;
    margin-top: -45px;
    float: left;
    box-shadow: 0 0 5px #444;
    border-radius: 6px;
    overflow: hidden;
}

#container-centerA .info-left .cover img {
    width: 200px;
    height: 282px;
}

#container-centerA .info-left #info-box{
    width: 200px;
    height: 0px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}

#container-centerA .info-left #info-box li {
    padding: 4px 2px;
    border-bottom: 1px solid #EEE;
    font-size: 13px;

}

#container-centerA .info-left #info-box li .tip {
    font-size: 13px;
    color: #666;
}

#container-centerA .info-left #info-box li a.l {
    color: #0084B4;
    border: 0;
    text-decoration: none;
}

#container-centerA .info-right{
    width: 940px;
    float: left;
    padding-left: 20px;
    padding-top: 35px;
    position: relative;
}

#container-centerA .info-right .title{
    font-size: 30px;
    color: #252525;
    margin: 0;
}

#container-centerA .info-right .name{
    font-size: 14px;
    color: #252525;
    margin-left: 10px;
}

#container-centerA .info-right .subtitle {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}

#container-centerA .info-right .subtitle a {
    font-size: 14px;
    color: #252525;
}

#container-centerA .info-right .status {
    margin-top: 10px;
}

#container-centerA .info-right .status a {
    font-size: 14px;
    color: #252525;
}

#container-centerA .info-right .status .block {
    font-size: 13px;
    color: #666;
    margin-right: 40px;
}

#container-centerA .info-right .status .block span {
    color: #252525;
    margin-left: 10px;
}

#container-centerA .info-right .content {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    margin-right: 20px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#container-centerA .info-right .info-expand{
    width: 80px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 20px;
    color: #99a2aa;
    cursor: pointer;
}

.container-tabs {
    width: 100%;
    height: 48px;
    float: left;
}

.container-tabs .tabs-content {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #EDEDED;
    font-size: 0px;
}

.container-tabs .tabs-content .tab {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #777;
    border-right: 1px solid #EDEDED;
    display: inline-block;
    text-decoration: none;
}

.container-tabs .tabs-content .active {
    background: #fff;
    color: #444;
    font-weight: 700;
}

