body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    padding-top: 45px;
}

ul {
    list-style: none;
}

a.l, a.l:link, a.l:visited, a.l:active {
    color: #888;
    border: 0;
    text-decoration: none;
}

a.l:hover{
    /*color: #00a1d6;*/
    background: #00a1d6;
    color: #FFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.clearit:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.on{
    color: #00a1d6 !important;
}

a.focus {
    background: #00a1d6;
    color: #FFF;
    /*opacity: 0.6;*/
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.container {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.container-center {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /*background: url(http://bangumi.tv/img/bg/bg_left_side.png) repeat-y -24px 0;*/
}

#container-centerA{
    width: 175px;
    background-color: #FAFBFC;
    margin: 10px 10px 0px 0px;
    float: left;
    overflow: hidden;
}

#container-centerA h3 {
    background-color: #EAEAEA;
    margin: 0 0 0 0;
    padding: 5px 0 5px 15px;
    font-size: 13px;
    font-weight: normal;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EAEAEA');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EAEAEA));
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -o-linear-gradient(top, #FFF, #EAEAEA);
}

#container-centerA ul {
    margin-top: 5px;
    margin: 0;
    padding: 0;
}

#container-centerA ul li {
    float: left;
    width: 66px;
    padding: 10px 0 10px 10px;
}

#container-centerA ul li a {
    display: block;
    padding: 2px 5px;
    cursor: pointer;
    text-align: center;
}

#container-centerB {
    width: 990px;
    margin: 0;
    float: left;
    margin: 10px 0px 0px 0px;
}

.tab-sort {
    color: #222;
    font-size: 14px;
    line-height: 1;
    height: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.tab-i {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.tab-sort a:before {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    margin: 0 2px;
    top: 0;
    width: 0;
    height: 0;
    border: 5px dashed #ddd;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tab-sort a:after {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    margin: 0 2px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 5px dashed #ddd;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tab-sort a.on.desc:after {
    border-color: #00a1d6 transparent;
    border-bottom: none;
}

.tab-sort a.on.asc:before {
    border-color: #00a1d6 transparent;
    border-top: none;
}

.browser-list {
    padding: 0;
    margin-left: 5px;
}

.browser-item {
    border-bottom: 1px dotted #EAEAEA;
    font-size: 12px;
    padding: 10px 5px;
    white-space: normal;
    overflow: hidden;
}

.browser-item .avatar {
    float: left;
}

.browser-item img.avatar {
    width: 77px;
    height: 77px;
    background-color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 2px #BBB;
    -webkit-box-shadow: inset 0px 0px 2px #BBB;
    box-shadow: inset 0px 0px 2px #BBB;
    padding: 1px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.browser-item .prsn-info{
    margin-top: 5px;
}

.browser-item .prsn-info .tip {
    font-size: 12px;
    color: #252525;
}

.browser-item .content {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


.m-style a {
    background: rgba(255, 255, 255, .5) !important;
    border: solid 1px #ddd;
    color: #222 !important;
}

.m-style a:hover{
    background: #00a1d6 !important;
    color: #fff !important;
    /*border: 1px solid #00a1d6 !important;*/
}

.m-style .active {
    background: #00a1d6 !important;
    color: #fff !important;
    border: 1px solid #00a1d6 !important;
}

.m-style  input {
    background: rgba(255, 255, 255, .5) !important;
    color: #eee !important;
}