body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 335px;
    background-color: #fff;
    margin: 0;

    font-family: "PingFang SC", 'Microsoft YaHei';
    /*font-size: 14px;*/
    color: #252525;
    /*overflow-x: hidden;*/
    /*overflow: hidden;*/

    /*background-image: url(http://www.hacg.cz/img/topBG.jpg);*/
    /*background-repeat: repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center center;*/
    /*background-size: cover*/
}

body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    padding: 0;
    margin: 0;
    font-family: "PingFang SC", 'Microsoft YaHei';
}

a {
    text-decoration: none;
}

a.l{
    color: #0084B4;
    border: 0;
    text-decoration: none;
}

ul li {
    list-style-type:none;
}

/*a:link, a:active, a:visited {*/
    /*text-decoration: none;*/
    /*color: #444;*/
/*}*/

.container {
    background-color: #f8f8f9;
    overflow: hidden
}

.container-header {
    width: 100%;
    min-width: 1200px;
}

.container-header .banner-detail-form {
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    position: relative;
    margin-top: 70px;
}

.container-header .banner-detail-form .cover {
    height: 314px;
    width: 240px;
    margin-top: -45px;
    margin-left: 40px;
    float: left;
    box-shadow: 0 0 5px #444;
    border-radius: 6px;
    overflow: hidden;
}

.container-header .banner-detail-form .cover img {
    height: 314px;
    width: 240px;
}

.container-header .banner-detail-form .info {
    float: left;
    width: 870px;
    padding-left: 20px;
    padding-top: 35px;
}

.container-header .banner-detail-form .info .title {
    font-size: 30px;
    color: #252525;
    margin: 0;
}

.container-header .banner-detail-form .info .subtitle {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}

.container-header .banner-detail-form .info .subtitle a {
    color: #252525;
}

.container-header .banner-detail-form .info .tip {
    margin-top: 20px;
}

.container-header .banner-detail-form .info .tip .block {
    font-size: 13px;
    color: #999;
    margin-right: 40px;
}

.container-header .banner-detail-form .info .tip .block span {
    color: #252525;
    margin-left: 10px;
}

.container-header .banner-detail-form .info .content {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    line-height: 20px;
    width: 710px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.container-tabs {
    width: 100%;
    height: 48px;
    background: #f8f8f9;
}

.container-tabs .tabs-content {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #EDEDED;
    font-size: 0px;
}

.container-tabs .tabs-content .tab {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #777;
    border-right: 1px solid #EDEDED;
    display: inline-block;
    text-decoration: none;
}

.container-tabs .tabs-content .active {
    background: #fff;
    color: #444;
    font-weight: 700;
}

.container-info {
    width: 100%;
    /*height: 500px;*/
    margin-top: 20px;
    overflow: hidden;
}

.container-info .info-content {
    width: 1200px;
    /*height: 1200px;*/
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

.container-info .info-content #columnA {
    width: 220px;
    float: left;
    /*margin: 20px 20px;*/
    background-color: #fff;
}

.container-info .info-content #columnA .infobox {
    overflow: hidden;
    width: 180px;
    padding: 20px;
    word-break: break-all;
}

.container-info .info-content #columnA .infobox ul#infobox li {
    padding: 4px 2px;
    border-bottom: 1px solid #EEE;
    font-size: 13px;

}

.container-info .info-content #columnA .infobox ul#infobox li .tip {
    font-size: 13px;
    color: #666;
}

.container-info .info-content #columnA .infobox ul#infobox li a.l {
    color: #0084B4;
    border: 0;
    text-decoration: none;
}

.container-info .info-content #columnB {
    width: 920px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
}

.container-info .info-content #columnB .subject-section {
    padding: 10px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #EEE;
}

.container-info .info-content #columnB .subject-section h2.subtitle {
    font-weight: 300;
    color: #555;
    font-size: 18px;
    padding: 0 5px 0 0;
    line-height: 140%;
}

.container-info .info-content #columnB .subject-section #subject_summary {
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #444;
    height: auto !important;
    max-height: 250px;
    overflow: hidden;
}

.container-info .info-content #columnB .subject-section #browser-item-list {
    margin: 10px 0px 0px 0px;
    overflow: hidden;
}

.container-info .info-content #columnB .subject-section #browser-item-list .browser-item {
    margin: 0 0 10px;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0pt 0pt 30px;
    position: relative;
    width: 33%;
}

#browser-item-list .browser-item .user-container{
    padding: 0 5px 0 55px;
}


#browser-item-list .browser-item .user-container strong {
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #EEE;
    display: block;
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
}

#browser-item-list .browser-item .user-container strong .avatar{
    width: 48px;
    height: 48px;
    float: left;
    margin: 0pt 0pt 0pt -55px;
}

#browser-item-list .browser-item .user-container .info{
    padding: 2px 0 0 0;
}

#browser-item-list .browser-item .user-container .info .tip_j {
    font-size: 12px;
    color: #999;
    text-shadow: none;
}

#browser-item-list .browser-item .user-container .info .tip_j a {
    text-decoration: none;
    color: #444;
}

.container-foot {
    width: 100%;
    height: 48px;
    background-color: #f8f8f9;
}