<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 启用spring mvc 注解 -->
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.acg12">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--可以在这声明，也可以使用@Service-->
    <!-- user的service -->
    <!--<bean id="userServiceImpl" class="com.acg12.modules.app.service.impl.UserServiceImpl"/>-->
    <bean id="verifyService" class="com.acg12.modules.app.service.impl.VerifyServiceImpl"/>
    <!--<bean id="resService" class="com.acg12.modules.app.service.impl.ResServiceImpl"/>-->
    <bean id="feedbackServiceImpl" class="com.acg12.modules.app.service.impl.FeedbackServiceImpl"/>
    <bean id="updateAppServiceImpl" class="com.acg12.modules.app.service.impl.UpdateAppServiceImpl"/>
    <!--<bean id="searchServiceImpl" class="com.acg12.modules.app.service.impl.SearchServiceImpl"/>-->


    <bean id="subjectServiceImpl" class="com.acg12.modules.app.service.impl.SubjectServiceImpl"/>

    <!--<bean id="personServiceImpl" class="com.acg12.modules.app.service.impl.PersonServiceImpl"/>-->
    <!--<bean id="characterServiceImpl" class="com.acg12.modules.app.service.impl.CharacterServiceImpl"/>-->

</beans>