<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--可以在这声明，也可以使用@Service-->
    <!-- user的service -->
    <bean id="userService" class="com.acg12.service.UserServiceImpl"/>
    <bean id="verifyService" class="com.acg12.service.VerifyServiceImpl"/>
    <bean id="resServiceImpl" class="com.acg12.service.ResServiceImpl"/>
    <bean id="feedbackServiceImpl" class="com.acg12.service.FeedbackServiceImpl"/>
    <bean id="updateAppServiceImpl" class="com.acg12.service.UpdateAppServiceImpl"/>


</beans>