<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans">

    <context:property-placeholder location="classpath*:/sy.config.properties" ignore-resource-not-found="true" ignore-unresolvable="true" ></context:property-placeholder>

    <context:component-scan base-package="com.acg12" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
</beans>
