<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.dao.SubjectDetailDao">

    <resultMap id="subjectDetailResultMap" type="com.acg12.entity.po.SubjectDetailEntity">
        <result column="detailId" property="detailId" jdbcType="INTEGER"/>
        <result column="subjectId" property="subjectId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <!--<insert id="insert" parameterType="com.acg12.entity.po.SubjectDetailEntity" useGeneratedKeys="true" keyProperty="detailId">-->
        <!--insert into acg_subject_detail (detailId , subjectId  , title, value)-->
        <!--values (#{detailId,jdbcType=INTEGER},#{subjectId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})-->
    <!--</insert>-->

    <!--<insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true">-->
        <!--<selectKey resultType="INTEGER" keyProperty="bangumitId" order="AFTER">-->
            <!--SELECT-->
            <!--LAST_INSERT_ID()-->
        <!--</selectKey>-->
        <!--insert into acg_bangumi (platform , title)-->
        <!--values-->
        <!--<foreach collection="list" item="item" index="index" separator=",">-->
            <!--(#{item.platform},#{item.title})-->
        <!--</foreach>-->
    <!--</insert>-->

    <!--<update id="update" parameterType="com.acg12.entity.po.Bangumi">-->
        <!--update acg_bangumi set platform=#{platform},title=#{title},cover=#{cover},tags=#{tags},intro=#{intro},voiceActor=#{voiceActor},nowStatus=#{nowStatus}-->
        <!--,totalCount=#{totalCount},serializeWeek=#{serializeWeek},serializeTime=#{serializeTime},startPlayTime=#{startPlayTime},updateTime=#{updateTime}-->
        <!--where bangumitId=#{bangumitId}-->
    <!--</update>-->

    <!--<select id="queryList" resultType="com.acg12.entity.po.Bangumi">-->
        <!--select * from acg_bangumi-->
    <!--</select>-->



</mapper>