<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.dao.VerifyMapper" >

    <resultMap id="BaseResultMap" type="com.acg12.entity.po.Verify" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="verifycode" property="verifycode" jdbcType="INTEGER" />
        <result column="duration" property="duration" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="createdAt" property="createdAt" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insert" parameterType="com.acg12.entity.po.Verify"
            useGeneratedKeys="true" keyProperty="id">
        insert into verify (id,phone,verifycode,duration,status,type,createdAt)
        values (#{id,jdbcType=INTEGER},#{phone,jdbcType=VARCHAR}, #{verifycode,jdbcType=INTEGER},
         #{duration,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{type,jdbcType=INTEGER},#{createdAt,jdbcType=INTEGER})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from verify where id=#{id}
    </delete>

    <update id="updateVerify" parameterType="com.acg12.entity.po.Verify">
        update verify set phone=#{phone},verifycode=#{verifycode},duration=#{duration},status=#{status},type=#{type} where id=#{id}
    </update>

    <select id="queryVerifyList" resultType="com.acg12.entity.po.Verify">
        select * from verify
    </select>

    <select id="queryVerify" parameterType="int" resultType="com.acg12.entity.po.Verify">
        select * from verify where id = #{id}
    </select>

    <select id="queryVerifyCode" parameterType="int" resultType="com.acg12.entity.po.Verify">
        select * from verify where verifycode = #{verifycode}
    </select>

    <select id="query" resultType="com.acg12.entity.po.Verify">
        select * from verify where phone = #{phone} and verifycode = #{verifycode} and type = #{type} and status = #{status}
    </select>

</mapper>