<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.modules.app.dao.person.PersonDao">

    <resultMap id="personResultMap" type="com.acg12.modules.app.entity.po.person.PersonEntity">
        <result column="personId" property="personId" jdbcType="INTEGER"/>
        <result column="pId" property="pId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameCn" property="nameCn" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="bloodtype" property="bloodtype" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.modules.app.entity.po.person.PersonEntity" useGeneratedKeys="true"
            keyProperty="personId">
        insert into acg_person (personId , pId , name, nameCn, image, summary, height, weight, alias, type, gender, bloodtype, birthday, createTime, updateTime)
        values (#{personId,jdbcType=INTEGER},#{pId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}
        , #{height,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
        , #{gender,jdbcType=INTEGER}, #{bloodtype,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.acg12.modules.app.entity.po.person.PersonEntity">
        update acg_person set pId=#{pId},name=#{name},nameCn=#{nameCn},image=#{image},summary=#{summary},height=#{height},weight=#{weight},alias=#{alias},type=#{type}
        ,gender=#{gender},bloodtype=#{bloodtype},birthday=#{birthday},updateTime=#{updateTime}
        where personId=#{personId}
    </update>

    <select id="queryList" resultType="com.acg12.modules.app.entity.po.person.PersonEntity">
        select * from acg_person
    </select>

    <select id="queryByPersonListPage" resultType="com.acg12.modules.app.entity.po.person.PersonEntity">
        select personId,pId,name,nameCn,image,height,weight,alias,gender,bloodtype,birthday from acg_person
        <where>
            <if test="type != null">
                <if test="type > 0">
                    type like "%"#{type}"%"
                </if>
            </if>

            <if test="gender > 0">
                and gender = #{gender}
            </if>
            <if test="bloodtype > 0">
                and bloodtype = #{bloodtype}
            </if>
            <if test="birthday != null">
                and birthday like "%"#{birthday}"%"
            </if>

        </where>
    </select>

    <select id="queryByPId" parameterType="int" resultType="com.acg12.modules.app.entity.po.person.PersonEntity">
        select * from acg_person where pId = #{pId}
    </select>

    <select id="queryByPersonId" parameterType="int" resultType="com.acg12.modules.app.entity.po.person.PersonEntity">
        select personId from acg_person where personId = #{personId}
    </select>

    <select id="queryByPersonIdJoinDetail" parameterType="int" resultType="com.acg12.modules.app.entity.po.person.PersonEntity">
        select acg_person.personId, acg_person.name, acg_person.nameCn, acg_person.image, acg_person.height, acg_person.weight,
        acg_person.alias, acg_person.type, acg_person.gender, acg_person.bloodtype, acg_person.birthday, acg_person_detail.summary
        from acg_person
        INNER JOIN acg_person_detail
        ON acg_person.personId = acg_person_detail.personId AND acg_person_detail.personId = #{personId} AND acg_person_detail.summary IS  NOT NULL

    </select>
</mapper>