<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.dao.subject.SubjectDao">

    <resultMap id="baseResultMap" type="com.acg12.entity.po.subject.SubjectEntity">
        <result column="subjectId" property="subjectId" jdbcType="INTEGER"/>
        <result column="sId" property="sId" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameCn" property="nameCn" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="epsCount" property="epsCount" jdbcType="INTEGER"/>
        <result column="airDate" property="airDate" jdbcType="VARCHAR"/>
        <result column="airWeekday" property="airWeekday" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.acg12.entity.po.subject.SubjectEntity" useGeneratedKeys="true"
            keyProperty="subjectId">
        insert into acg_subject (subjectId , sId , url, type, name, nameCn, summary, image, epsCount, airDate, airWeekday, createTime, updateTime)
        values (#{subjectId,jdbcType=INTEGER},#{sId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}
        , #{summary,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{epsCount,jdbcType=INTEGER}, #{airDate,jdbcType=VARCHAR}, #{airWeekday,jdbcType=INTEGER}
        , #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.acg12.entity.po.subject.SubjectEntity">
        update acg_subject set sId=#{sId},url=#{url},type=#{type},name=#{name},nameCn=#{nameCn},summary=#{summary},image=#{image}
        ,epsCount=#{epsCount},airDate=#{airDate},airWeekday=#{airWeekday},updateTime=#{updateTime}
        where subjectId=#{subjectId}
    </update>

    <select id="queryList" resultType="com.acg12.entity.po.subject.SubjectEntity">
        select * from acg_subject
    </select>

    <select id="queryBySId" parameterType="int" resultType="com.acg12.entity.po.subject.SubjectEntity">
        select * from acg_subject where sId = #{sId}
    </select>

    <select id="queryBySubjectId" parameterType="int" resultType="com.acg12.entity.po.subject.SubjectEntity">
        select * from acg_subject where subjectId = #{subjectId}
    </select>

</mapper>