<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acg12.dao.subject.SubjectDetailDao">

    <resultMap id="subjectDetailResultMap" type="com.acg12.entity.po.subject.SubjectDetailEntity">
        <result column="subjectDetailId" property="subjectDetailId" jdbcType="INTEGER"/>
        <result column="subjectId" property="subjectId" jdbcType="INTEGER"/>
        <result column="otherTitle" property="otherTitle" jdbcType="VARCHAR"/>
        <result column="otherValue" property="otherValue" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertList" parameterType="java.util.List" >
        insert into acg_subject_detail (subjectDetailId, subjectId, otherTitle,otherValue)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.subjectDetailId,jdbcType=INTEGER}, #{item.subjectId,jdbcType=INTEGER},
            #{item.otherTitle,jdbcType=VARCHAR},#{item.otherValue,jdbcType=VARCHAR}
            )
        </foreach>
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="subjectDetailId">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="queryBySubjectDetailId" parameterType="int" resultType="com.acg12.entity.po.subject.SubjectDetailEntity">
        select * from acg_subject_detail where subjectDetailId = #{subjectDetailId}
    </select>

    <select id="queryBySubjectId" parameterType="int" resultType="com.acg12.entity.po.subject.SubjectDetailEntity">
        select * from acg_subject_detail where subjectId = #{subjectId}
    </select>
</mapper>